@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-gray-500;
  @apply text-gray-900;
}


.rubik-vinyl-regular {
  font-family: "Rubik Vinyl", serif;
  font-weight: 400;
  font-style: normal;
}


.playwrite-au-sa-touch {
  font-family: "Playwrite AU SA", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.figtree-font {
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}